@import "./../../../styles/theme.scss";

.lobby-view {
    width: 100vw;
    height: 100vh;

    .navigator {
        background-color: #00000066;
        height: 35px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        padding: 0 5px;
        gap: 2px;

        .item {
            position: relative;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-color: $bg-color;
            opacity: 50%;
            border-radius: 15px 15px 0 0;

            &.active {
                opacity: 100%;
                scale: 1.2;
            }
        }
    }

    .desktop-lobby-wrapper {
        display: grid;
        grid-template-columns: 430px 1fr;
        grid-template-rows: 100vh;

        .game-list--wrapper {
            
        }
    }
}