.game-list {
    .game-block {
        display: flex;
        flex-direction: row;
        margin: 5px 10px;
        background-color: #00000030;
        border-radius: 20px;
        height: 80px;
        overflow: hidden;
        box-shadow: 3px 3px 5px #000000;

        .img {
            height: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 20px;
            background-color: #00000030;
            background-size: cover;
            background-position: center;
        }
        .info {
            flex-grow: 1;
            margin: 8px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
        .play-button {
            padding: unset;
            border-radius: 0;
            height: 100%;
        }
    }
}