
.host-form {
    position: relative;
    background-color: #ffffff10;
    border-radius: 12px;
    padding: 8px;
    max-width: 400px;
    width: calc(100% - 48px);
    margin: auto;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #00000025;

    .back-link {
        position: absolute;
    }

    .title {
        max-width: 90%;
        margin: auto;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 13px;
    }

    input {
        margin-bottom: 12px;
    }
}

.desktop .host-form {
    .title {
        margin-bottom: 28px;
    }

    input {
        margin-bottom: 23px;
    }
}