@import "./styles/theme.scss";
@import "./styles/base.scss";

body {
  margin: 0;
  font-family: 'Kameron', serif;
  background-color: $bg-color;
  color: $bg-color-text;
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.flex-block {
  display: flex;
  margin: 19px;
  flex-wrap: nowrap;

  &.interactable {
    cursor: pointer;
  }

  .text-expand {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}