$bg-color:              #573A29;
$bg-color-text:         #ffffff;

$base-color-1:          #D9302C;
$base-color-1-text:     #ffffff;

$base-color-2:          #FF5F00;
$base-color-2-text:     #000000;

$base-color-3:          #EAA23F;
$base-color-3-text:     #000000;

$warning-color:         #cc3300;
$warning-color-text:    #ffffff;

$info-color: 	        #ffcc00;
$info-color-text: 	    #000000;

$success-color:         #339900;
$success-color-text:    #ffffff;