@import "./../../theme";

@keyframes moveInUp {
    from { 
        transform: translateY(-50px);
        opacity: 0%;
    }
    to { 
        transform: translateY(0);
        opacity: 100%;
    }
}

#popup-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    z-index: 1000;

    .popup-wrapper {
        width: 95%;
        padding: 4px 12px;
        box-shadow: 2px 2px 2px #000000;
        border-radius: 32px;
        text-align: center;
        pointer-events: all;
        box-sizing: border-box;
        margin: .5vh 2.5%;
        animation: moveInUp .5s;
        cursor: pointer;
    
        &:hover {
            opacity: 90%;
        }
        
        &.success {
            background-color: $success-color;
            color: $success-color-text;
        }
        &.info {
            background-color: $info-color;
            color: $info-color-text;
        }
        &.warning {
            background-color: $warning-color;
            color: $warning-color-text;
        }
    }
}

@media screen and (min-width: 600px) {
    #popup-overlay {
        .popup-wrapper {
            max-width: 500px;
            margin: .5vh 2vw;
        }
    }
}