.big-logo {
    display: inline-block;
    margin: auto 17px;

    .logo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    
        filter: drop-shadow(1px 1px 1px #000000);
    
        img {
            width: 75%;
            margin-top: -10%;
        }
    
        .title {
            margin: unset;
            font-size: 10vw;
            line-height: .75;
            z-index: 1;
            text-align: center;
        }
    }

    .description {
        max-width: 500px;
        margin: auto;
        text-align: center;
    }
}