.horizontal-logo {
    display: block;
    margin: 17px 24px;

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
    
        filter: drop-shadow(1px 1px 1px #000000);
    
        img {
            height: 100%;
        }
    
        .title {
            font-size: 3rem;
            margin: unset;
            padding-top: 4px;
            margin-left: -18px;
            text-align: center;
        }
        
    }

    .description {
        max-width: 500px;
        opacity: 90%;
        font-size: 14px;
        margin: 10px auto auto 0;
        text-align: center;
    }
}